<ion-header>
  <ion-navbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>{{question}}</h1>
  <hr>
  <button *ngFor="let answer of answers" ion-button  text-wrap full (click)="answerSelected(answer)">{{answer.text}}</button>
  <hr>

  <button ion-button full (click)="nextQuestion()">Next Question</button>
  <br>
  <button ion-button full (click)="swapMode()">{{mode}}</button>
  <br>

  <hr>
  <span (click)="cleanWrong()"> Wrong words</span>
  <br>
  <div *ngFor="let word of wrongwords">{{word}} - </div>
  <br>
  <hr>
  <span>Good words</span>
  <br>
  <div *ngFor="let word of goodwords">{{word}} - </div>
  <br>
</ion-content>