<ion-header>
  <ion-navbar>
    <ion-title>
      {{book?.title}} {{transCount}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openBookActions()">
        <ion-icon name='more'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <button [id]="i" ion-item text-wrap *ngFor="let viewLine of viewLines;let i=index" (click)="selectLine(viewLine,i)">
      {{i}}
      <div *ngIf="!viewLine.showTranslation">
        {{viewLine.bookLine.sourceLine}}
      </div>

      <div *ngIf="viewLine.showTranslation">

        <div *ngIf="viewLine.bookLine.sentences.length==0">
          {{viewLine.bookLine.sourceLine}}
        </div>

        <div *ngIf="viewLine.bookLine.sentences.length!=0">

          <div *ngFor="let s of viewLine.bookLine.sentences">
            {{s.sentenceSource}}
            <hr>
            <small>{{s.sentenceDest}}</small>
            <br>
            <br>
          </div>
        </div>


      </div>


    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>