<ion-content padding>
  <h2>Pinocchio 3</h2>

  <ion-list>
    <button ion-item text-wrap *ngFor="let line of storyLines;let i=index" (click)="lineSelected(line)">


      <div *ngIf="!line.showTranslation">
        {{i}}<br> {{ line.sourceTxt }}
      </div>

      <div *ngIf="line.showTranslation">
        {{i}}

        <div *ngIf="line.translation.length==0">
          {{ line.sourceTxt }}
        </div>

        <div *ngFor="let s of line.translation">
          {{s.sentenceSource}}
          <hr>
          <small>{{s.sentenceDest}}</small>
          <br>
          <br>
        </div>
      </div>

    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>